html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      a(href='/') Home
      a(href='/services') Our Services
      a(href='/contacts') Contact Us
    block content
          
    section.hero
        h1 Our Services
        p We offer a variety of services to help you look your best

  section.services
    //- Add service descriptions and images here
    ul
      li Service 1
      li Service 2
      li Service 3

      

